@import 'https://fonts.googleapis.com/css?family=Ubuntu';

@font-face {
  font-family: 'space';
  src: url('./fonts/WCManoNegraBta.ttf') format('truetype');
}

body {
  background: url('./TheRadioGalaxy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu';
}

.social-buttons {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  background-color: white;
}

.main .title {
  color: white;
  margin: 8vh;
  font-family: 'space';
  font-size: 130px;
  text-shadow: 2px 2px 1px black;
}

.navbar {
  background-color: rgb(30,30,30);
}

.pointer {
  cursor: pointer;
}

.space {
  font-family: 'space';
}

.white {
  color: white !important;
  text-decoration: none !important;
}

.media-body {
  background-color: white;
  padding: 20px;
}

.concert {
  font-size: 10px;
  padding: 4px;
}

.concert .title {
  font-size: 12px;
  text-decoration: underline;
}

.upload button {
  width: 200px;
  margin: 10px;
}

.upload input {
  width: 200px;
  margin-top: 10px;
}

.upload-title {
  margin-top: 10px;
}

.track-pages {
  margin: 3px;
}

.submission p {
  margin: -5px;
}

.arrow {
  cursor: pointer;
}

.error {
  background-color: rgb(255, 80, 80);
  color: white;
  margin-bottom: 5px;
}

.form input {
  width: 30%;
  margin: 10px;
}

.form h1 {
  margin-top: 15%;
}

.dropbtn {
  background-color: rgb(100,100,200);
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(80,80,180);
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {
  display:block;
}
