@import 'https://fonts.googleapis.com/css?family=Ubuntu';

@font-face {
  font-family: 'space';
  src: url('./fonts/WCManoNegraBta.ttf') format('truetype');
}

body {
  background: url('./TheRadioGalaxy.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu';
}

.main .title {
  color: white;
  margin: 8vh;
  font-family: 'space';
  font-size: 130px;
  text-shadow: 2px 2px 1px black;
}

.navbar {
  background-color: rgb(30,30,30);
}

.space {
  font-family: 'space';
}

.white {
  color: white;
  text-decoration: none !important;
}

.media-body {
  background-color: white;
  padding: 20px;
}

.concert {
  font-size: 10px;
  padding: 4px;
}

.concert .title {
  font-size: 12px;
  text-decoration: underline;
}

.upload button {
  width: 100%;
}

.upload input {
  width: 125%;
}

.upload-title {
  margin-top: 10px;
}

.track-pages {
  margin: 3px;
}

.error {
  background-color: rgb(255, 80, 80);
  color: white;
  margin-bottom: 5px;
}
